* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0f0c29;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Animated Background */
.background-animation {
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #61c5e4, #1098ce, #db8f6b, #fff, #79d8c8,#f116f1);
    background-size: 400% 400%;
    z-index: -1;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Glassmorphism Container */
.container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
}

h1 {
    color: #30f116;
    letter-spacing: 2px;
}

h1 span {
    color: #00d2ff;
    text-shadow: 0 0 10px #00d2ff;
}

p {
    color: #db821d;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

/* Input Area */
.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: 0.3s;
}

input:focus {
    border-color: #00d2ff;
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.3);
}

button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #00d2ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3a7bd5;
    box-shadow: 0 0 20px #00d2ff;
    transform: translateY(-2px);
}

/* Loading & Results */
.hidden { display: none; }

#loader { margin-top: 20px; color: white; }

.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid rgba(255,255,255,0.3);
    border-top-color: #00d2ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.video-info img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.dl-link {
    display: inline-block;
    margin-top: 15px;
    color: #00d2ff;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #00d2ff;
    padding: 10px 20px;
    border-radius: 5px;
}
